body {
    background-color: rgb(95, 201, 228);
    font-family: "Libre Franklin", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        ". form ."
        "footer footer footer";
}

@media (min-width: 1150px) {
    .container {
        grid-template-columns: auto 920px auto;
    }
}

header, footer {
    text-align: center;
    border: 1px solid;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

form {
    background-color: white;
    border: 1px solid;
    grid-area: form;
}

.subtitle, .submit {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q_and_a {
    border: 1px solid;
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.questions {
    text-align: right;
}